{% extends 'bills/base.html' %}
{% load staticfiles %}
{% block content %}


            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center ">
                        <h1>6F Bill Tracker</h1>
                        <p class="text-inverse">A Django Project for UPSITF</p>
                        <br>
                        <br>                        
                        <a href="{% url 'pay' %}" class="btn btn-info btn-lg" role="button">Unpaid Bills</a>
                        <a data-toggle="modal" title="AddBill" class="open-myModal btn btn-info btn-lg" href="#myModal">Add Bill</a>
                        <a href="{% url 'history' %}" class="btn btn-info btn-lg" role="button">Bill History</a>
                         
                        <div>
                        <br><br>
                          
                          <button type="button" class="btn btn-info btn-lg" onclick="scrollWin()">The Roomies</button>

                          <script>
                          function scrollWin() {
                              window.scrollTo(0, 600);
                          }
                          </script>
                        </div>
                        <!--Modal Dialog-->
                        <!-- Modal -->
                        <div id="myModal" class="modal fade" role="dialog">
                          <div class="modal-dialog modal-lg">

                            <!-- Modal content-->
                            <div class="modal-content">
                              <div class="modal-header">
                                
                                <div class="header" style="overflow:auto">
                                  <img class='leftlogo' id="headerlogo" src="{% static 'img/house.jpg' %}" alt="logo"> <img class='rightlogo' id="headerlogo" src="{% static 'img/house.jpg' %}" alt="logo"> 
                                  <h2 class="modal-title">Good Day!!</h2>
                                  <p align="center" style="font-size:250%"> <b>Add bill</b> </p>
                                </div>
                              </div>
                              <div class="modal-body">
                                <div class="container" align="left"> 

                                  <div class="boxform">     
                                     
                                    <form style="font-size:100%" method= 'POST' action='' enctype='multipart/form-data'>

                                      {% csrf_token %}
                                      {{ form.as_p }}
                                      <input type="Submit" value='Submit'/>
                                    </form>
                                  </div>
                                </div>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                              </div>
                            </div>

                          </div>
                        </div>

                    </div>
                </div>
            </div>

{% endblock %}    