{% extends 'bills/base.html' %}
{% load humanize %}
{% block content %}
			
            <div class="container">               
            	<div class="row">  					
                    <div class="col-md-12 text-center ">
                        <h1>Unpaid Bills</h1><a href="{% url 'index' %}" class="btn btn-info btn-lg">Back</a><br><br>
					    <div class="table-responsive" style="overflow: auto; max-height: 400px;"> 
					        <table class="table">
					            <thead>					            
					                <tr>
					                    <th>ID</th>
					                    <th>Month</th>
					                    <th>Type</th>
					                    <th>Amount Due</th>					                    
					                    <th>Date Posted</th>
					                    <th>Payment Date</th>
					                    <th>Actions</th>
					                </tr>
					            </thead>
					            	{%for i in object_list %}
					            	<tr>
					                    <td>{{ i.id }}</td>
					                    <td>{{ i.month }}</a></td>
					                    <td>{{ i.billType }}</td>
					                    <td>{{ i.amountDue }}</td>					                    
					                    <td>{{ i.datePosted }}</td>
					                    <td>{{ i.paymentDate}}</td>
					                    <td><a data-toggle="modal" 
					                    		data-month={{ i.month }}
					                    		data-type={{ i.billType }}
					                    		data-posteddate="{{ i.datePosted }}"
					                    		data-amountd="{{ i.amountDue|intcomma }}"
					                    		data-paiddate="{{ i.paymentDate }}"
					                     title="Bill Details" class="open-dtlDialog btn btn-info" href="#dtlDialog">Details</a></td>

					                </tr>
					                {% endfor %}					               
					               
						                	            
					            </tbody>
					        </table>
					    </div>
					</div>
				</div>				
            </div>
 
{% endblock %}